extends ../_layouts/base

block title
  title= site.data.global.titleAbout

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var currentPage = site.data.pages.about.name

block content
  h1 Under construction
