include ../../molecules/tabby/tabby

  mixin rangle-tabs(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .rangle-tabs(class=spec.__class)&attributes(attributes)
      +tabby({ '__class': 'js-tabbs', tabs: [
        { id: '#tab1', name: 'first', active: true, rangeOptions: { 
            name: 'first',

            text:'  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt deserunt, quos vel. Ab inventore ipsum explicabo quos, commodi nihil fugiat quo nemo nam cupiditate praesentium consequuntur cumque necessitatibus consectetur, dolore. Accusamus quas voluptate, numquam ducimus asperiores quisquam qui recusandae adipisci saepe temporibus nostrum maiores totam ratione aspernatur similique fuga. ipsum dolor sit amet, consectetur adipisicing elit. Quis, dolore.'
          }
        },
        { id: '#tab2', name: 'second', rangeOptions: { 
            name: 'second',
            text:'   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel natus ullam ducimus, cum quisquam eligendi commodi delectus quia, odit, at minus iste rerum magnam accusantium facere quis tempora. Placeat laudantium tempore nulla dolorum atque, iste vel alias doloremque accusamus quam, voluptate voluptatem reprehenderit unde porro illo nihil eius voluptas expedita, totam mollitia esse libero! Aspernatur fuga id, at quasi sint. ipsum dolor sit amet, consectetur adipisicing elit. Sint, quam. ipsum dolor sit amet, consectetur adipisicing elit. Quis, dolore.'
          }
        },
        { id: '#tab3', name: 'third', rangeOptions: { 
            name: 'third',
            text:'  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil numquam velit quae facilis ipsa qui aliquid consequuntur minima distinctio aspernatur corporis, voluptatibus quisquam necessitatibus omnis voluptatem assumenda repellat non animi reiciendis. Saepe quod facere aspernatur, sequi blanditiis. Delectus hic, necessitatibus.'
          }
        }
      ]})
