include ../../atoms/tab/tab
mixin tabby(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.tabs = spec.tabs || []

  div.tabby(class=spec.__class)&attributes(attributes)
    .tabby__tabs
      each tab in spec.tabs
        .tabby__tab(data-tab=tab.id class= tab.active ? 'tabby__tab--active' : '')= tab.name
    .tabby__contents
      each tab in spec.tabs
        .tabby__content(data-tab=tab.id)
          +tab(tab.rangeOptions)
