// slider styles
.slider{
    max-width: 900px;
    height: 500px;
    margin: 100px auto; 
    position: relative;
    overflow: hidden;
    
    &__wrap{
        height: 100%;
        transition: 0.5s;


    }
    &__arrow{
        position: absolute;
        top: 0;
    }
    & .arrow__right{
        left: 0;
    }
    & .arrow__left{
        right: 0;
    }
    &__img{
        height: 100%;
    }
}