// slider-item styles
.item{
    user-select: none;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    &__list{
        display: block;
        height: 15px;
        width: 15px;
        list-style: none;
        border-radius: 50%;
        background: $c-white;
        margin: auto 10px;
        cursor: pointer;
        opacity: .7;
        transition: $t-normal;
        border: 2px solid transparent;
        &.active{
            opacity: 1;
            transition: $t-normal;
            transform: scale(1.4,1.4);
            &:hover{
                transform: scale(1.4,1.4);
            }
        }
        &:hover{
            opacity: 1;
            transition: $t-normal;
            transform: scale(1.1,1.1)
        }
    }
}