mixin slider-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.list = spec.list || []

  ul.item(class=spec.__class)&attributes(attributes)
      each item in spec.list 
        li.item__list= item
          